snippet todo "todo with timestamp"
TODO [`!v strftime('%Y-%m-%d')`]: $0
endsnippet
# [`!v strftime('%d-%m-%y')`]: $0

# date and time ---

snippet DATE "date today" i
`!v strftime('%Y-%m-%d')`$0
endsnippet

snippet TIME "time now" i
`!v strftime('%H:%M')`$0
endsnippet

snippet DATIME "date and time now" i
`!v strftime('%Y-%m-%d %H:%M')`$0
endsnippet

