[submodule "pack/bundle/start/vim-solarized8"]
	path = pack/bundle/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "pack/bundle/opt/Nvim-R"]
	path = pack/bundle/opt/Nvim-R
	url = https://github.com/BertrandSim/Nvim-R.git
[submodule "pack/bundle/opt/auto-pairs"]
	path = pack/bundle/opt/auto-pairs
	url = https://github.com/BertrandSim/auto-pairs.git
[submodule "pack/bundle/opt/vim-angry"]
	path = pack/bundle/start/vim-angry
	url = https://github.com/b4winckler/vim-angry.git
[submodule "pack/bundle/start/vim-markdown-folding"]
	path = pack/bundle/start/vim-markdown-folding
	url = https://github.com/BertrandSim/vim-markdown-folding
[submodule "pack/bundle/start/vim-unimpaired"]
	path = pack/bundle/start/vim-unimpaired
	url = https://github.com/BertrandSim/vim-unimpaired.git
[submodule "pack/bundle/start/ultisnips"]
	path = pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/bundle/opt/vim-easy-align"]
	path = pack/bundle/opt/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/text-obj/opt/vim-textobj-entire"]
	path = pack/text-obj/start/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "pack/text-obj/opt/vim-textobj-line"]
	path = pack/text-obj/start/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "pack/bundle/opt/vimtex"]
	path = pack/bundle/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/bundle/opt/incsearch.vim"]
	path = pack/bundle/opt/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "pack/bundle/opt/vim-sandwich"]
	path = pack/bundle/opt/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule "pack/usr/opt/esv-in-vim"]
	path = pack/usr/start/esv-in-vim
	url = git@github.com:BertrandSim/esv-in-vim.git
[submodule "pack/usr/start/vim-multindent"]
	path = pack/usr/start/vim-multindent
	url = git@github.com:BertrandSim/vim-multindent.git
